$modal = $('#form-modal');
$modalBody = $('#form-modal-body');
$modalHeading = $('#form-modal-heading');
$modalFooter = $('#form-modal-footer');
$modalHeading.html("Heading");
$modalBody.html("<%= escape_javascript(render 'form') %>");
$modalFooter.html("<br><a href='#' class='btn' data-dismiss='modal'>Close</a>");

$modal.modal();