$modal = $('#modal'),
        $modalBody = $('#modal-body'),
        $modalHeading = $('#modal-heading');
        $modalFooter = $('#modal-footer');
$modalHeading.html("Heading");
$modalBody.html("<%= escape_javascript(render @studygroup) %>");
$modalFooter.html("<br><a href='?' class='btn' data-dismiss='modal'>Close</a>");

$modal.modal();