<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @test_stuff.duration %>
</p>

<%= link_to 'Edit', edit_test_stuff_path(@test_stuff) %> |
<%= link_to 'Back', test_stuffs_path %>
