// Place all the styles related to the Studygroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#body { overflow:auto; padding-left: 15px;}
#sidebar { float:left; width:auto; background-color:#ccc; min-height:400px;}